:root {
    --oswald: 'Oswald', sans-serif;
    font-size: 10px;
}

body {
    font-family: var(--oswald);
    font-weight: 400;
    font-size: 2.4rem;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 300;
    color: #000000;
    height: 0;
}

.width{
    width: 0;
}

.section{
    width: 1420px;
    margin: 0 auto;
}

.uppercase {
    text-transform: uppercase;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__img{
    position: relative;
    bottom: 2.5rem;
}

.header-top {
	width: 1200px;
	margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 0;
}

.header-top__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-top nav {
    width: 40%;
}

.header-top__nav-item a {
    font-size: 2rem;
    text-decoration: none;
    color: #333333;
}

.header-top__search input {
    text-transform: uppercase;
    padding: 1rem 2rem;
    background-image: url("../image/search.svg");
    background-repeat: no-repeat;
    background-position: 1rem center;
    width: 270px;
    padding-left: 4rem;
    font-size: 1.5rem;
    border: 1px solid #A04955;
    border-radius: 54px;
}


/* FOOTER */

.footer{
    margin-top: 50px;
    width: 1420px;
    height: 430px;
    background: #A04955;
    display: flex;
}

.ordering{
    width: 223px;
    height: 327.03px;
    margin-left: 60px;
    margin-top: 70px;
    line-height: 130%;
    color: #FFFFFF;
}

.ordering a {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.about{
    width: 223px;
    height: 327.03px;
    margin-left: 60px;
    margin-top: 70px;
    line-height: 130%;
    color: #FFFFFF;
}

.about a {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.quick{
    width: 223px;
    height: 327.03px;
    margin-left: 10px;
    margin-top: 70px;
    line-height: 130%;
    color: #FFFFFF;
}

.quick a {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.get{
    width: 627px;
    height: 327.03px;
    margin-left: 10px;
    margin-top: 40px;
    line-height: 130%;
    color: #FFFFFF;
}

.get p{
    padding-top: 10px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.adress{
    width: 515px;
    height: 62.34px;
    left: 753px;
    top: 5457.62px;
    background: #F3F3F3;
}

.adress span{
    position: relative;
    top: 5px;
    left: 20px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #A04955;
}

.adress button{
    position: relative;
    width: 167px;
    height: 43.95px;
    left: 230px;
    top: 10px;
    background: #A04955;
}

.by p{
    width: 335px;
    height: 25.55px;
    margin-left: 60px;
    margin-top: 20px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 180.8%;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}

.staart{
    position: absolute;
    width: 83px;
    height: 83px;
    left: 1600px;
    top: 3650px;
    background: #A04955;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

.staart img{
    margin-top: 20px;
    margin-left: 25px;
}

/* MAIN */

.main{
	margin: 0 auto;
	width: 1420px;
    padding: 0px 0px 50px 0px;
}

.title{
    width: 513px;
    height: 36px;
    margin-left: 100px;
    margin-top: 90px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.product{
    display: flex;
    margin-top: 150px;
}

.product_img{
    margin-left: 100px;
}

.product_img img{
    width: 500px;
}

.product_img_mini{
    margin-top: 70px;
    margin-left: 200px;
}

.product_img_mini img{
    width: 150px;
    background: #FFFFFF;
    border: 1px solid #333333;
    cursor: pointer;
}

.product_info_star_flex1{
    display: flex;
    width: 120px;
    margin-top: 70px;
}

.product_info{
    margin-left: 90px;
}

.product_info_text{
    display: flex;
    position: absolute;
    top: 330px;
}

.product_info_text h2{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 71px;
    color: #000000;
}

.product_info_text span{
    margin-top: 55px;
    margin-left: 15px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.product_info_star{
    display: flex;
}

.product_info_star_flex{
    display: flex;
    width: 120px;
    margin-top: 70px;
}

.product_info_star p{
    position: absolute;
    margin-top: 70px;
    margin-left: 140px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.product_info p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.product_info h2{
    height: 30px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 53px;
    color: #000000;
}

.shorts_color{
    display: flex;
    justify-content: start;
    margin-top: 10px;
    height: 40px;
}

.shorts_color_img img{
    width: 30px;
    height: 30px;
    padding-right: 5px;
    cursor: pointer;
}

.size1{
    display: flex;
    position: absolute;
    margin-top: 15px;
    left: 920px;
}

.size_block{
    margin-left: 15px;
    width: 40px;
    height: 40px;
    background: #F1F1F1;
    cursor: pointer;
}

.size_block span{
    margin-left: 10px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 180.8%;
    color: #000000;
}

.product_info_btn{
    width: 630px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.product_info_btn1{
    display: flex;
    width: 300px;
    height: 56px;
    background: #B93B54;
}

.product_info_btn1 img{
    width: 30px;
    height: 30px;
    margin-left: 70px;
    margin-top: 15px;
}

.product_info_btn1 span{
    margin-top: 9px;
    margin-left: 15px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.product_info_btn2{
    display: flex;
    width: 300px;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

.product_info_btn2 img{
    width: 30px;
    height: 30px;
    margin-left: 50px;
    margin-top: 15px;
}

.product_info_btn2 span{
    margin-top: 9px;
    margin-left: 15px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #B93B54;
}

.product_info_socials{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 20px;
}

.product_info_delivery{
    margin-top: 30px;
    width: 650px;
    height: 140px;
    background: #FAFAFA;
}

.product_info_delivery p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #333333;
}

.product_info_delivery_solid{
    margin: 0 auto;
    width: 385px;
    height: 1px;
    background: #B93B54;
}

.product_info_delivery_flex{
    width: 600px;
    margin-top: 15px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
}

.product_info_delivery_free{
    margin-right: 50px;
    width: 280px;
    height: 42.3px;
}

.product_info_delivery_free img{
    position: relative;
    margin-right: 10px;
    top: 10px;
    width: 35px;
    height: 35.25px;
}

.product_info_delivery_free span{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.product_info_delivery_exchange{
    width: 268px;
    height: 42.3px;
}

.product_info_delivery_exchange img{
    position: relative;
    margin-right: 10px;
    top: 10px;
    width: 35px;
    height: 35.25px;
}

.product_info_delivery_exchange span{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    margin-right: 50px;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.details{
    margin: 0 auto;
    padding: 45px 90px;
    width: 950px;
    height: 773px;
    background: #FAFAFA;
}

.details_h2{
    margin-top: 120px;
    text-align: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 71px;
    color: #333333;
}

.details p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}

.details li{
    padding-top: 15px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}

.reviews{
    margin-top: 60px;
    width: 1420px;
    height: 766px;
    background: #333333;
    padding: 40px 0px 0px 0px;
}

.reviews h2{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 71px;
    text-align: center;
    color: #FFFFFF;
}

.reviews_blocks1{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    padding: 0px 39px;
}

.reviews_block1_content{
    width: 400px;
    height: 210px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.reviews_blocks2{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0px 39px;
}

.reviews_block2_content{
    width: 400px;
    height: 210px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}


.list{
    width: 130px;
    display: flex;
    margin-left: 1245px;
    margin-top: 36px;
    justify-content: space-around;
}

.list_activ{
    display: block;
    width: 35px;
    height: 37px;
    left: 1245px;
    top: 2437px;
    background: #A04955;
}

.list_activ span{
    margin-left: 13px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    color: #FFFFFF;
}

.list_activ_no{
    display: block;
    width: 35px;
    height: 35px;
    left: 1295px;
    top: 2437px;
    background: #F1F1F1;
    border: 1px solid #A04955;
}

.list_activ_no span{
    margin-left: 12px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 178%;
    color: #A04955;
}

.list_go{
    display: block;
    width: 35px;
    height: 35px;
    left: 1295px;
    top: 2437px;
    background: #F1F1F1;
    border: 1px solid #A04955;
}

.list_go img{
    padding-left: 10px;
    padding-top: 6px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 178%;
    color: #A04955;
}

.review{
    margin: 0px;
    margin-top: 5px;
    margin-left: 15px;
}

.review span{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.product_info_star_flex{
    margin-top: 5px;
    height: 15px;
}

.reviews_block1_content, .reviews_block2_content{
    display: flex;
}

.review_text{
    margin-top: 20px;
    width: 251px;
    height: 171px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.reviewing{
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 30px;
    width: 1152px;
    height: 1100px;
    background: #FAFAFA;
}

.reviewing p{
    text-align: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #A04955;
}

.reviewing h2{
    text-align: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 71px;
    text-align: center;
    color: #333333;
}

.reviewing span{
    display: block;
    text-align: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}

.reviewing_star{
    display: flex;
    justify-content: center;
}

.reviewing_star_text p{
    margin-top: 45px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}

.reviewing_star_img{
    margin-left: 70px;
}

.reviewing_star_img img{
    margin-top: 30px;
    cursor:pointer;
}

.sambit{
    margin: 0 auto;
    width: 985px;
    height: 207px;
}

.sambit input{
    margin-left: 40px;
    margin-top: 30px;
    width: 910px;
    height: 147px;
    background: #FAFAFA;
    border: 1px solid #333333;
}

.sambit_input input{
    margin-left: 40px;
    margin-top: 30px;
    width: 428px;
    height: 40px;
    background: #FAFAFA;
    border: 1px solid #333333;
}

.sambit_btn{
    margin: 0 auto;
    margin-top: 80px;
    padding-top: 10px;
    width: 244px;
    height: 50px;
    background-color: #A04955;
    cursor:pointer;
}

.sambit_btn span{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

/* _______________________ */

.color{
    width: 500px;
    position: absolute;
    margin-top: 200px;
    left: 150px;
}

.color1{
    display: flex;
    position: absolute;
    margin-left: 340px;
}

.color2{
    display: flex;
    position: absolute;
    margin-left: 340px;
}

.color_block{
    width: 40px;
    height: 40px;
    left: 88px;
    top: 366px;
    background: #F1F1F1;
    margin-left: 15px;
    cursor: pointer;
}

.color_block span{
    margin-left: 10px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 180.8%;
    color: #000000;
}

.red_solid2{
    width: 265px;
    height: 1px;
    margin-left: 25px;
    margin-top: 150px;
    background: #A04955;
}

.color_black{
    width: 30px;
    height: 30px;
    left: 88px;
    top: 366px;
    background: #000000;
    margin-left: 15px;
    cursor: pointer;
}

.color_brown{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    background: #744524;
    cursor: pointer;
}

.color_blue{
    width: 30px;
    height: 30px;
    left: 88px;
    top: 366px;
    background: #113EB1;
    margin-left: 15px;
    cursor: pointer;
}

.color_white{
    width: 30px;
    height: 30px;
    left: 88px;
    top: 366px;
    background: #ffffff;
    border:#c7c7c7 solid 1px;
    margin-left: 15px;
    cursor: pointer;
}

.color_grey{
    width: 30px;
    height: 30px;
    left: 88px;
    top: 366px;
    background: #808080;
    margin-left: 15px;
    cursor: pointer;
}

.color_aqua{
    width: 30px;
    height: 30px;
    left: 88px;
    top: 366px;
    background: #00b7ff;
    margin-left: 15px;
    cursor: pointer;
}

.color_green{
    width: 30px;
    height: 30px;;
    left: 88px;
    top: 366px;
    background: #098a04;
    margin-left: 15px;
    cursor: pointer;
}

.color_red{
    width: 30px;
    height: 30px;
    left: 88px;
    top: 366px;
    background: #b10606;
    margin-left: 15px;
    cursor: pointer;
}

/* _______________________ */